/*UNIVERSAL SELECTION*/

* {
    box-sizing: border-box;
}


/************************************************************
GENERAL
************************************************************/

body {
    margin: 0;
    font-family: 'Roboto'. sans-serif;
    line-height: 1.5;
}

.main-header {
    height: 850px;
    padding-top: 170px;
    /*background-image: url('../img/mountains.jpg');*/
    /*background-image: linear-gradient(#ffa949, firebrick);*/
    background: linear-gradient(#ffa949, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*To change fonnt size from px to em. Do this simple equationn.
    Whatever the desired pixel is / 16.
    26px/16px =
    */
    font-size: 1.625em;
    color: white;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.primary-content {
    text-align: center;
    padding-bottom: 95px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid #dfe2e6;
}

.primary-content,
.secondary-content {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

t-border {
    border-top: 2px solid lightgrey;
}

ul li {
    margin-bottom: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    width: 50px;
    margin-top: 150px;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.wildlife {
    /*padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;*/
    padding: 18% 24%;
    /*two values first is foor top and bottom. 2nd is for left and right.
    border-width: 10px 20px;
    border-style: solid;
    border-color: #ffa949;*/
    border-top: 10px solid #ffa949;
    /*when 3 values. first one is the top. second one is left and right. third one is bottom*/
    margin: 105px 0 60px;
    background-image: url('../img/bear.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bootom: solid10px orange;
}


/***********************************************************
Headline Elelments & P ELEMENTS
************************************************************/

h1 {
    /*90px/16px*/
    font-size: 5.62em;
    text-trasnform: uppercase;
    font-weigh: normal;
    line-height: 1.3;
    /**/
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    margin: 12px 0 0;
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
}

h3 {
    font-size: 20px;
    margin-bottom: 1.7em
}

p {

}


/************************************************************
FLOATED COLUMNS
************************************************************/

.resorts,
.tips {
    width: 46.5%
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/************************************************************
Colors
************************************************************/

body {
    color: #878787;
}

.title {
    color: white;
}

.main-header {
    background-color: #ffa949;
}

.wildlife {
    color: white;
    background-color: #434a52;
}

ul li {
    color: white;
}

h1 {
    color: white;
}

h3 {
    color: #4852c;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: #ffa949;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

a:focus {
    color: white;
    background-color: orange;
}


/************************************************************
MEDIA QUERIES
************************************************************/

@media (max-width: 1024) {
    .primary-content,
    . secondary-content {
        width: 90%;
    }
    .wildlife {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        font-size: 1.3rem;
        border: none;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
        ;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}